/* VISTA SPLASH */

#loader {
  color: #ffffff;
  background: radial-gradient(#5353b3, #6c28ac);
  /* background: radial-gradient(#ff5d35, #d9534f); */
}

.fly-in-text{
  text-align: center;
  list-style: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.fly-in-text li{
  display: inline-block;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 3em;
  opacity: 1;
  transition: all 2.5s ease;
}

.fly-in-text.hidden li:nth-child(1) { transform: translateX(-200px) translateY(-200px); }
.fly-in-text.hidden li:nth-child(2) { transform: translateX(20px) translateY(100px); }
.fly-in-text.hidden li:nth-child(3) { transform: translateX(-150px) translateY(-80px); }
.fly-in-text.hidden li:nth-child(4) { transform: translateX(10px) translateY(-200px); }
.fly-in-text.hidden li:nth-child(5) { transform: translateX(-300px) translateY(200px); }
.fly-in-text.hidden li:nth-child(6) { transform: translateX(20px) translateY(-20px); }
.fly-in-text.hidden li:nth-child(7) { transform: translateX(30px) translateY(200px); }
.fly-in-text.hidden li:nth-child(8) { transform: translateX(20px) translateY(100px); }

.fly-in-text li:last-child{
  margin-right: 0;
}
.fly-in-text.hidden li{
  opacity:0;
}

/* start page */

.startpage {
  background: url('../assets/images/start.jpg');
}

#btn-google {
  background-color: #ffffff;
  color: #F07355;
  border: none;
  cursor: pointer;
}

/* login page */

.login {
  background: url('../assets/images/1.jpg');
  color: #ffffff;
}

/* overview style */

#overview a,
#overview i,
#comment-post a {
  color: black;
}

/* register style */

#register {
  background: url('../assets/images/1.jpg');
  color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* style profile */

#post-text {
  resize: none;
  overflow: hidden;
}

p#footer a {
  color: black
}

#section-write-post {
  background-color: #f7b2a1;
}
/* estilos reutilizables */

.border-bottom {
  border-bottom: .5px solid #d4d3d3b9;
}

header a {
  color: #b3b2b2;
  transition: all 5ms ease;
}

header a:hover, .main-color {
  color: #F07355;
}

.bg-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.heigth {
  height: 100vh;
}

.heigth-1 {
  height: 50vh;
}

h2 {
  color: #ffffff;
}

i {
  cursor: pointer;
  font-size: 1.5rem;
}

a:hover, a:focus {
  text-decoration: none;
}
