/* VISTA SPLASH */

#loader {
  background-color: #F07355;
  color: #ffffff;
}
/* start page */

.startpage {
  background: url('../assets/images/start.jpg');
}

/* login page */

.login {
  background: url('../assets/images/1.jpg');
  color: #ffffff;
}

/* overview style */

#overview a,
#overview i,
#comment-post a {
  color: black;
}

/* register style */ 

#register {
  background: url('../assets/images/1.jpg');
  color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

ul#myTab.nav.navTabs a {
  color: ;
}
/* style profile */

#post-text {
  resize: none;
  overflow: hidden;
}

p#footer a {
  color: black
}

#section-write-post {
  background-color: #f7b2a1;
}
/* estilos reutilizables */

.border-bottom {
  border-bottom: .5px solid #d4d3d3b9;
}

header a {
  color: #b3b2b2;
  transition: all 5ms ease;
}

header a:hover, .main-color {
  color: #F07355;
}

.bg-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.heigth {
  height: 100vh;
}

.heigth-1 {
  height: 50vh;
}

h2 {
  color: #ffffff;
}

i {
  cursor: pointer;
  font-size: 1.5rem;
}

a:hover, a:focus {
  text-decoration: none;
}