<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--Import bootstrap.css-->
  <link rel="stylesheet" href="../assets/icons/icomoon/style.css">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../css/main.css">
  <title>Busines</title>
</head>

<body>
  <header class="py-2">
    <ul class="nav justify-content-center nav-justified">
      <li class="nav-item">
        <a class="nav-link active" href="business.html">
          <i class="icon-home3"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="overview.html">
          <i class="icon-clock"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="messages.html">
          <i class="icon-user"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="profile.html">
          <i class="icon-earth"></i>
        </a>
      </li>
    </ul>
  </header>

  <!-- filtrar los negocios por categorias-->
  <div class="container">
    <div class="row justify-content-center">
      <select class="form-control col-11 mt-2">
        <option value="general">Encuentra una tienda para ti...</option>
        <option value="moda">Moda</option>
        <option value="restaurantes">Restaurantes</option>
        <option value="deportes">Deportes</option>
        <option value="artesania">Artesania</option>
      </select>
    </div>
  </div>

  <section id="business">
    <div class="container">
      <div class="row">
        <!--  -->
      </div>
    </div>
  </section>

  <!-- script -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="../js/app.js"></script>
</body>

</html>