<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li>a</li>
        <li>b</li>
        <li>c</li>
        <li>d</li>
      </ul>
    </nav>
  </header>
  <select name="" id="">
    <option value="">Moda</option>
    <option value="">Restaurants</option>
    <option value="">Deportes</option>
    <option value=""></option>
    <option value=""></option>
  </select>
  <section>
    <div class="container">
      <div class="row"></div>
    </div>
  </section>
</body>
</html>