<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <form>
    <input type="text" id="" placeholder="username">
    <input type="text" id="" placeholder="password">
    <button>LOG IN</button>
    <span>OR</span>
    <button>Log in with Google</button>
    <button>Log in with Facebook</button>    
  </form>
</body>
</html>