<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../assets/icons/icomoon/style.css">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>

    <div class="container">
      <div class="container-fluid">
          <div class="row centered-form">
          <div class="col-xs-12 col-sm-12 col-md-12 ">

            <div class="alert alert-success">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>¡Bien Hecho!</strong>Mensaje correctamente leido.
            </div>

            <div class="alert alert-info">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>¡Atento!</strong>Mensaje de importancia baja.
            </div>

            <div class="alert alert-warning alert-dismissable">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>¡Cuidado!</strong> Es muy importante que leas este mensaje de alerta.
            </div>

            <div class="alert alert-danger alert-dismissable">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>¡Error!</strong>Hay algunos cambios antes de enviar el formulario.
            </div>

      		</div>
      	</div>
      </div>
    </div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/register.js"></script>
  </body>
</html>
