<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../assets/icons/icomoon/style.css">
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>
  <header class="py-1 border-bottom">
    <ul class="nav justify-content-center nav-justified">
      <li class="nav-item">
        <a class="nav-link active" href="business.html">
          <i class="icon-home3"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="overview.html">
          <i class="icon-clock"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link main-color" href="messages.html">
          <i class="icon-earth"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="profile.html">
          <i class="icon-user"></i>
        </a>
      </li>
    </ul>
  </header>

  <!-- lista de mensajes -->
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="list-group col-12 mt-1 px-0">
        <a href="chat.html" class="list-group-item list-group-item-action">Cras justo odio</a>
        <a href="chat.html" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
        <a href="chat.html" class="list-group-item list-group-item-action">Morbi leo risus</a>
        <a href="chat.html" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
        <a href="chat.html" class="list-group-item list-group-item-action">Vestibulum at eros</a>
      </div>
    </div>
  </div>

  <!-- jQuery first, then Tether, then Bootstrap JS. -->
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
    crossorigin="anonymous"></script>
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/register.js"></script>
</body>

</html>