<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--Import bootstrap.css-->
  <link rel="stylesheet" href="../assets/icons/icomoon/style.css">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../css/style.css">
  <title>Overview</title>
</head>

<body>
  <header class="py-1 border-bottom">
    <ul class="nav justify-content-center nav-justified">
      <li class="nav-item">
        <a class="nav-link active" href="business.html">
          <i class="icon-home3"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="overview.html">
          <i class="icon-clock"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="messages.html">
          <i class="icon-earth"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="profile.html">
          <i class="icon-user"></i>
        </a>
      </li>
    </ul>
  </header>

  <section id="section-write-post">
    <div class="container">
      <div class="row">
        <form class="col-12">
          <div class="form-row pt-3 px-2">
              <div id="preview">
                <textarea class="form-control textarea" id="post-text"></textarea>
                <img src="#" alt="" id="dowload">
              </div>
              <div class=" col-xs-12 col-sm-12 col-md-12" >
                <button class="btn btn-danger  col-xs-3 col-sm-3 col-md-3" id="post" disabled>
                  Enviar
                </button>
                <a href="#" id="file-select" class="btn btn-danger col-xs-3 col-sm-3 col-md-4">Elegir archivo</a>
                <button class="btn btn-info col-xs-3 col-sm-3 col-md-3" id="file-info" disabled>No hay archivo aún</button>
              </div>
              <input id="file" name="file" type="file"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row" id="user-post">

      </div>
    </div>
  </section>



  <!-- casilla de ejemplo -->
  <section id="overview">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 border-bottom px-0">
          <p id="header" class="py-2 px-3 font-weight-bold border-bottom">Forget</p>
          <div class="body border-bottom">
            <p class="px-3">Puedes contratar nuestros servicios de información en obras y gestión de quejas, contactando con nosotros. Nuestro
              equipo de ingenieros con experiencia en obra civil y expertos en márketing digital y gestión de contenidos
              digitales estudiarán vuestro caso concreto, para dar el mejor servicio.</p>
            <div>
              <img src="../assets/images/2.jpg" class="img-fluid">
            </div>
          </div>
          <p id="footer" class="ml-2 mb-0 py-2 font-weight-bold">
            <i class="icon-heart-o calificacion" id="calificacion"></i>
            </i>
            <button type="button" class="btn btn-warning likes" id="likes"></button>
            <a href="comment.html" role="button" class="ml-2">
              <i class="icon-comment-o"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- jQuery first, then Tether, then Bootstrap JS. -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
    crossorigin="anonymous"></script>
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="../js/app.js"></script>
  <script src="../js/overview.js"></script>
</body>

</html>
