<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../assets/icons/icomoon/style.css">
  <link rel="stylesheet" href="../assets/icons/icomoon1/style.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>
  <header class="py-1 border-bottom">
    <ul class="nav justify-content-center nav-justified">
      <li class="nav-item">
        <a class="nav-link active" href="business.html">
          <i class="icon-home3"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="overview.html">
          <i class="icon-clock"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="messages.html">
          <i class="icon-earth"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="profile.html">
          <i class="icon-user"></i>
        </a>
      </li>
    </ul>
  </header>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="card hovercard">
          <div class="cardheader"></div>

          <div class="avatar">
            <img alt="" src="https://lh3.googleusercontent.com/-g9IQcO32978/UHSfnfUow5I/AAAAAAAAACc/LIA4maI8S5Y/w527-h527-n-rw/logo-sekur.jpg">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="form-group">
              <div class="info">
                <div class="title">
                  <a target="_blank" href="">SEKUR-PERU</a>
                </div>
                <h6>Descripcion</h6>
                <div class="desc">Artículos de seguridad e higiene industrial</div>
                <div class="desc">Telefono: 123456789 </div>
                <div class="desc">Correo: sekur@hotmail.com </div>
                <p>Donde Estamos</p>
                <div class="desc">Calle Ricardo Angulo 782, Urb. Corpac, San Isidro , Lima</div>
                <button type="button" class="btn btn-secondary">Ver mapa</button>
                <hr>
                <a href="http://www.sekurperu.com.pe/">Mas Informacion</a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="bottom">
              <a id="btn" class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/?lang=es">
                <i class="icon-twitter"></i>
              </a>
              <a id="btn" class="btn btn-danger btn-sm" rel="publisher" href="https://www.linkedin.com/">
                <i class="icon-linkedin"></i>
              </a>
              <a id="btn" class="btn btn-primary btn-sm" rel="publisher" href="https://www.facebook.com/">
                <i class="icon-facebook2"></i>
              </a>
              <a id="btn" class="btn btn-warning btn-sm" rel="publisher" href="https://www.instagram.com/?hl=es">
                <i class="icon-google-plus2"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery first, then Tether, then Bootstrap JS. -->
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
    crossorigin="anonymous"></script>
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="../js/app.js"></script>
  <script src="../js/profile.js"></script>
  <script type="text/javascript" src="../js/register.js"></script>
</body>

</html>