<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../assets/icons/icomoon/style.css">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <header>
      <ul id="nav"class="nav nav-justified">
        <li class="nav-item col-xs-3 col-sm-3 col-md-3">
          <a class="nav-link active" href="#">
            <i class="icon-home3 icons"></i></a>
        </li>
        <li class="nav-item col-xs-3 col-sm-3 col-md-3">
          <a class="nav-link" href="#">
            <i class="icon-clock icons"></i></a>
        </li>
        <li class="nav-item col-xs-3 col-sm-3 col-md-3">
          <a class="nav-link" href="#">
            <i class="icon-user icons"></i></a>
        </li>
        <li class="nav-item col-xs-3 col-sm-3 col-md-3">
          <a class="nav-link" href="#">
            <i class="icon-earth icons"></i></a>
        </li>
      </ul>
    </header>
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item  col-xs-6 col-sm-6 col-md-6 ">
            <a class="nav-link active" id="business-tab" data-toggle="tab" href="#business" role="tab" aria-controls="home" aria-selected="true"><h3>Empresa</h3></a>
          </li>
          <li class="nav-item col-xs-6 col-sm-6 col-md-6">
            <a class="nav-link" id="user-tab" data-toggle="tab" href="#user" role="tab" aria-controls="profile" aria-selected="false"><h3>Persona</h3></a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="business" role="tabpanel" aria-labelledby="business-tab">


            <div class="container">
              <div class="container-fluid">
                  <div class="row centered-form">
                  <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 id="titulo"class="panel-title">Registrate <small>It's free!</small></h3>
                      </div>
                      <div class="panel-body">
                        <form role="form">
                          <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                              <div class="form-group">
                                <input type="text" name="name_business" id="name_business" class="form-control input-sm" placeholder="Nombre de la Empresa">
                              </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                              <div class="form-group">
                                <input type="text" name="Descripcion_business" id="Descripcion_business" class="form-control input-sm" placeholder="Descripcion , rubro">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <input type="text" name="Direccion-business" id="Direccion_business" class="form-control input-sm" placeholder="Direccion de la empresa">
                          </div>

                          <div class="form-group">
                            <input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email ">
                          </div>

                          <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                              <div class="form-group">
                                <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Contraseña">
                              </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                              <div class="form-group">
                                <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirma contraseña">
                              </div>
                            </div>
                          </div>
                          <input type="submit" value="Registrate" class="btn btn-warning btn-block col-xs-12 col-sm-12 col-md-6">
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="user" role="tabpanel" aria-labelledby="user-tab">
            <div class="container">
              <div class="container-fluid">
                  <div class="row centered-form">
                  <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 id="titulo"class="panel-title">Registrate <small>It's free!</small></h3>
                      </div>
                      <div class="panel-body">
                        <form role="form">
                          <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                              <div class="form-group">
                                <input type="text" name="Name_user" id="name_user" class="form-control input-sm" placeholder="Tu nombre">
                              </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                              <div class="form-group">
                                <input type="text" name="LastName-user" id="last-name" class="form-control input-sm" placeholder="Apellidos">
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <input type="text" name="Email" id="Email-user" class="form-control input-sm" placeholder="E-mail o telefono">
                          </div>
                          <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                              <div class="form-group">
                                <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Contraseña">
                              </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                              <div class="form-group">
                                <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirma contraseña">
                              </div>
                            </div>
                          </div>

                          <input type="submit" value="Registrate" class="btn btn-warning btn-block col-xs-12 col-sm-12 col-md-6">

                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/register.js"></script>
  </body>
</html>
