<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--Import bootstrap.css-->
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../css/main.css">
  <title>Welcome</title>
</head>

<body>
  <div class="container startpage bg-img heigth">
    <h2 class="col-10">
      Welcome to this community!
    </h2>
    <div class="row align-items-end justify-content-center">
      <a type="a" class="btn btn-light col-4 mb-4 mx-2 py-3" href="login.html" role="a">LOG IN</a>
      <a type="a" class="btn btn-light col-4 mb-4 mx-2 py-3" href="register.html" role="a">SIGN UP</a>
    </div>
  </div>

  <!-- script -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="../js/app.js"></script>
</body>

</html>