<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--Import bootstrap.css-->
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../assets/icons/icomoon1/style.css">
  <title>Welcome</title>
</head>

<body>
  <div class="container-fluid startpage bg-img heigth ">
    <div class="row heigth-1">
      <h2 class="col-10 mt-3">
        Welcome to this community!
      </h2>
    </div>
    <div class="row justify-content-center align-items-center heigth-1">
      <a type="a" class="btn btn-danger col-7 mb-4 mx-4 py-3 font-weight-bold" role="a" id="btn-google">
        <i class="icon-google2"></i> Login with Google</a>
      <a type="a" class="btn btn-danger col-4 mb-4 mx-2 py-3" href="login.html" role="a">LOG IN</a>
      <a type="a" class="btn btn-danger col-4 mb-4 mx-2 py-3" href="register.html" role="a">SIGN UP</a>
    </div>
  </div>

  <!-- jQuery first, then Tether, then Bootstrap JS. -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="../js/auth.js"></script>
</body>

</html>